$brightRed = #D23D2C
$black = #000000
$white = #FFFFFF
$brightBlue = #2680B9
$darkBlue = #10405E
$desktopMargin = 30px
$mobileMargin = 16px

body
  font-family 'ProximaNova'
  -webkit-font-smoothing antialiased

li, ul
  list-style none
  margin 0
  padding 0

a
  text-decoration none

@require './components/*.styl'
