button
  border 0

button:focus
  outline 0

.carousel__buttons > button
  background rgba(0, 0, 0, 0)
  letter-spacing 0.1em
  opacity 0.8

.carousel__buttons > button:hover
  opacity 1

.button--solid
  background $brightBlue
  color $white
  text-transform uppercase
  letter-spacing: 0.2em;

@media screen and (max-width: 1000px)
  .carousel__buttons
    width 240px
    display flex
    justify-content space-between
    align-items center
    margin-left auto
    margin-right auto

    margin-top 30px

  .carousel__buttons, .carousel__buttons > button
    font-size 15px

  .carousel__buttons > button
    width 80px
    display flex
    justify-content space-between
    align-items center

  .button--solid
    padding-top 10px
    padding-bottom 10px
    padding-left 15px
    padding-right 15px
    font-weight bold

    margin-top 30px

@media screen and (min-width: 1000px)
  .carousel__buttons
    grid-column-start 2
    grid-column-end 12
    margin-top 80px
    display flex
    width 300px
    justify-content space-between
    align-items center


    margin-left auto
    margin-right auto

  .carousel__buttons > button
    width 90px
    display flex
    justify-content space-between
    align-items center


  .carousel__buttons, .carousel__buttons > button
    font-size 15px

  .button--solid
    padding-top 25px
    padding-bottom 25px
    padding-left 30px
    padding-right 30px

    margin-top 100px
