
/*@media screen and (max-width: 800px)*/



@media screen and (min-width: 1000px)
  .coach-grid
    grid-column-start 2
    grid-column-end 12

    display grid
    grid-template-columns 1fr 1fr 1fr
    grid-column-gap 5%
    grid-row-gap 80px

    width 100%


  .coach-grid img
    width 100%

  .coach-grid p
    margin-top 10px
