@font-face
  font-family 'Proxima Nova'
  font-weight lighter
  font-display swap
  src local('Proxima Nova') url(../ProximaNova/ProximaNova-Light.otf) format('otf')

@font-face
  font-family 'ProximaNova'
  font-weight normal
  font-display swap
  src local('Proxima Nova') url(../ProximaNova/ProximaNova-Regular.otf) format('opentype')

@font-face
  font-family 'Proxima Nova'
  font-weight bold
  font-display swap
  src local('Proxima Nova') url(../ProximaNova/ProximaNova-Semibold.otf) format('otf')

@font-face
  font-family 'Proxima Nova'
  font-weight bolder
  font-display swap
  src local('Proxima Nova') url(../ProximaNova/ProximaNova-Bold.otf) format('otf')

@media screen and (min-width: 800px)
  h1
    font-size 64px
    line-height 90px

  h2
    font-size 48px
    line-height auto

  p
    font-size 36px
    line-height 48px


@media screen and (max-width: 800px)
  h1
    font-size 24px
    line-height 30px

  h2
    font-size 20px
    line-height auto

  p
    font-size 18px
    line-height 22px
